<% txt_titulo = "Titulo de la Publicación" %>
<% txt_descrip ="Descipcion corta (Recomendado: 1 linea)" %>
<% zelda_portada = "URL de la Portada" %>

<div style="margin-left: 5%; margin-right: 5%; margin-top: 1%" class="row center-xs">
<%= render "/posts/banner", method: :index %>
</div>