<div class="slider div-padre">
    <ul class="slides">
      <% @posts.each do |post| %>       
      <li>
        <img src="<%= post.portada %>"> <!-- random image -->
        <div style="text-shadow: #263238 0 0 25px;" class="caption">
          <h3> <%= post.titulo %> </h3>
          <h5 class="light grey-text text-lighten-3"><%= post.descripcion %> </h5>
        </div>
      </li>
      <% end %>
    </ul>
  </div>