<div class="slider">
    <ul class="slides">
      <% @posts.order("created_at desc").limit(7).each do |post|%>       
      <li>
        <img src="<%= post.portada %>"> 
        <div class="caption">
          <h3> <%= post.titulo %> </h3>
          <h5 class="light grey-text text-lighten-3"><%= post.descripcion %> </h5>
        </div>
      </li>
      <% end %>
    </ul>
  </div>